* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.login-widget {
  width: 360px;
  padding-bottom: 20px;
  background-color: #fff;
  margin-top: 50px;
  margin-left: 50px;
  padding-top: 65px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.65); }
  .login-widget .title {
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 30px;
    color: #323c47;
    text-align: center; }
  .login-widget .sub-heading {
    color: #989898;
    font-size: 15px;
    text-align: center; }
  .login-widget .login-form {
    width: 264px;
    margin: 40px auto 0 auto;
    position: relative; }
  .login-widget input[type="text"], .login-widget input[type="password"] {
    width: 264px;
    height: 52px;
    padding-left: 18px; }
    .login-widget input[type="text"]::-webkit-input-placeholder, .login-widget input[type="password"]::-webkit-input-placeholder {
      font-family: "Roboto", sans-serif;
      text-transform: capitalize;
      font-size: 16px; }
  .login-widget .username,
  .login-widget .password {
    margin-bottom: 20px; }
  .login-widget .remember-me {
    display: inline-block;
    width: 125px; }
    .login-widget .remember-me input[type="checkbox"] {
      display: none;
      position: relative;
      top: 3px;
      margin-top: 5px; }
  .login-widget .sign-in-btn {
    float: right;
    border: none;
    width: 104px;
    height: 40px;
    background-color: #A6E50F;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px; }
  .login-widget .fb-sign-in {
    width: 100%;
    height: 52px;
    border: none;
    margin-top: 30px;
    color: #fff;
    background-color: #3B5998;
    text-transform: capitalize; }
    .login-widget .fb-sign-in .fa-facebook {
      margin-right: 10px; }
    .login-widget .fb-sign-in:hover {
      cursor: pointer; }

.signin-with-bg {
  background: url(../../img/login-bg.png) no-repeat;
  width: 1900px;
  height: 974px;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif; }
  .signin-with-bg .login-frm {
    width: 360px;
    height: 362px;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .signin-with-bg .title {
    color: #fff;
    font-size: 42px;
    text-align: center;
    margin-bottom: 44px; }
  .signin-with-bg .input-bg {
    width: 360px;
    height: 52px;
    background-color: #4C4686;
    position: relative;
    border-radius: 5px; }
    .signin-with-bg .input-bg .icon {
      float: left;
      position: absolute; }
      .signin-with-bg .input-bg .icon.user-icon {
        left: 20px;
        top: 14px; }
      .signin-with-bg .input-bg .icon.password-icon {
        left: 20px;
        top: 14px; }
    .signin-with-bg .input-bg input[type="text"], .signin-with-bg .input-bg input[type="password"] {
      width: 280px;
      height: 50px;
      margin-left: 60px;
      background-color: transparent;
      border: none; }
      .signin-with-bg .input-bg input[type="text"]::-webkit-input-placeholder, .signin-with-bg .input-bg input[type="password"]::-webkit-input-placeholder {
        color: #fff;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-family: "Maven Pro", sans-serif; }
  .signin-with-bg .username {
    margin-bottom: 13px; }
  .signin-with-bg .form-submit input[type="submit"] {
    width: 100%;
    height: 52px;
    background-color: #4DA1FF;
    margin-top: 38px;
    border: none;
    color: #fff;
    text-transform: uppercase; }
  .signin-with-bg input {
    border-radius: 5px; }
  .signin-with-bg .info {
    color: #7D76BA;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 20px; }
    .signin-with-bg .info .link {
      text-decoration: none;
      color: #7D76BA;
      margin-bottom: 4px;
      display: inline-block; }
    .signin-with-bg .info .text span {
      font-weight: bold;
      color: #fff; }

body {
  font-family: "Maven Pro", sans-serif; }
  body.login-section {
    background-color: #642096; }

.remember-me {
  position: relative;
  margin-top: 20px; }
  .remember-me input[type="checkbox"] {
    display: none; }
    .remember-me input[type="checkbox"] + .label-text {
      display: inline-block; }
      .remember-me input[type="checkbox"] + .label-text:before {
        content: url(../img/remember-me-unchecked.png);
        width: 23px;
        height: 23px; }
    .remember-me input[type="checkbox"]:checked + .label-text:before {
      content: url(../img/remember-me-checked.png); }
  .remember-me .text {
    position: absolute;
    top: 0px;
    font-size: 14px;
    line-height: 23px;
    display: inline-block;
    margin-left: 10px;
    text-transform: capitalize; }
