* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.login-widget {
  width: 360px;
  padding-bottom: 20px;
  background-color: #fff;
  margin-top: 50px;
  margin-left: 50px;
  padding-top: 65px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.65); }
  .login-widget .title {
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 30px;
    color: #323c47;
    text-align: center; }
  .login-widget .sub-heading {
    color: #989898;
    font-size: 15px;
    text-align: center; }
  .login-widget .login-form {
    width: 264px;
    margin: 40px auto 0 auto;
    position: relative; }
  .login-widget input[type="text"], .login-widget input[type="password"] {
    width: 264px;
    height: 52px;
    padding-left: 18px;
    border: 1px solid #D0D7DD; }
    .login-widget input[type="text"]::-webkit-input-placeholder, .login-widget input[type="password"]::-webkit-input-placeholder {
      font-family: "Roboto", sans-serif;
      text-transform: capitalize;
      font-size: 16px; }
  .login-widget .username,
  .login-widget .password {
    margin-bottom: 20px; }
  .login-widget .remember-me {
    display: inline-block;
    width: 125px; }
    .login-widget .remember-me input[type="checkbox"] {
      display: none;
      position: relative;
      top: 3px;
      margin-top: 5px; }
  .login-widget .sign-in-btn {
    float: right;
    border: none;
    width: 104px;
    height: 40px;
    background-color: #A6E50F;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px; }
  .login-widget .fb-sign-in {
    width: 100%;
    height: 52px;
    border: none;
    margin-top: 30px;
    color: #fff;
    background-color: #3B5998;
    text-transform: capitalize; }
    .login-widget .fb-sign-in .fa-facebook {
      margin-right: 10px; }
    .login-widget .fb-sign-in:hover {
      cursor: pointer; }

.signin-with-bg {
  background: url(../../img/login-bg.png) no-repeat;
  width: 1900px;
  height: 974px;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif; }
  .signin-with-bg .login-frm {
    width: 360px;
    height: 362px;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .signin-with-bg .title {
    color: #fff;
    font-size: 42px;
    text-align: center;
    margin-bottom: 44px; }
  .signin-with-bg .input-bg {
    width: 360px;
    height: 52px;
    background-color: #4C4686;
    position: relative;
    border-radius: 5px; }
    .signin-with-bg .input-bg .icon {
      float: left;
      position: absolute; }
      .signin-with-bg .input-bg .icon.user-icon {
        left: 20px;
        top: 14px; }
      .signin-with-bg .input-bg .icon.password-icon {
        left: 20px;
        top: 14px; }
    .signin-with-bg .input-bg input[type="text"], .signin-with-bg .input-bg input[type="password"] {
      width: 280px;
      height: 50px;
      margin-left: 60px;
      background-color: transparent;
      border: none; }
      .signin-with-bg .input-bg input[type="text"]::-webkit-input-placeholder, .signin-with-bg .input-bg input[type="password"]::-webkit-input-placeholder {
        color: #fff;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-family: "Maven Pro", sans-serif; }
  .signin-with-bg .username {
    margin-bottom: 13px; }
  .signin-with-bg .form-submit input[type="submit"] {
    width: 100%;
    height: 52px;
    background-color: #4DA1FF;
    margin-top: 38px;
    border: none;
    color: #fff;
    text-transform: uppercase; }
  .signin-with-bg input {
    border-radius: 5px; }
  .signin-with-bg .info {
    color: #7D76BA;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 20px; }
    .signin-with-bg .info .link {
      text-decoration: none;
      color: #7D76BA;
      margin-bottom: 4px;
      display: inline-block; }
    .signin-with-bg .info .text span {
      font-weight: bold;
      color: #fff; }

.clear {
  clear: both; }

.online-helpers {
  background-color: #F3F6F8;
  padding-top: 50px; }
  .online-helpers .message-widget {
    padding: 20px;
    height: 230px; }
    .online-helpers .message-widget .messages .message {
      position: relative;
      display: inline-block;
      width: 100%; }
      .online-helpers .message-widget .messages .message .avatar {
        float: left; }
      .online-helpers .message-widget .messages .message.second {
        top: 30px; }
      .online-helpers .message-widget .messages .message .assistant-msg {
        float: left;
        background-color: #4DA1FF;
        color: #fff;
        padding: 15px 24px;
        font-size: 16px;
        margin-left: 20px;
        position: relative; }
        .online-helpers .message-widget .messages .message .assistant-msg:before {
          content: "";
          width: 10px;
          height: 10px;
          background-color: #4DA1FF;
          z-index: 100;
          position: absolute;
          top: 10px;
          left: -5px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
      .online-helpers .message-widget .messages .message .message-time {
        position: absolute; }
        .online-helpers .message-widget .messages .message .message-time.right {
          float: right;
          right: 0;
          top: 80px; }
        .online-helpers .message-widget .messages .message .message-time.left {
          float: left;
          margin-left: 40px;
          margin-top: 10px; }
      .online-helpers .message-widget .messages .message .msg-text {
        float: right;
        line-height: 27px;
        margin-right: 20px; }
      .online-helpers .message-widget .messages .message .happy {
        float: right; }
  .online-helpers .audio-player {
    width: 100%;
    height: 30px;
    border: 1px solid #d8e3ec;
    position: relative;
    top: 50px; }
    .online-helpers .audio-player .audio-progress {
      width: 234px;
      margin-left: 50px;
      margin-top: 12px;
      height: 5px;
      background-color: #E9EFF4; }
      .online-helpers .audio-player .audio-progress .played {
        width: 51px;
        height: 5px;
        background-color: #fc6e50; }
      .online-helpers .audio-player .audio-progress .scrubber {
        width: 18px;
        height: 18px;
        background-color: #fff;
        border: 1px solid #CBCBCB;
        border-radius: 100%;
        margin-top: -12px;
        margin-left: 50px; }
        .online-helpers .audio-player .audio-progress .scrubber .inner {
          width: 8px;
          height: 8px;
          background-color: #fc6e50;
          position: relative;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          border-radius: 4px; }
  .online-helpers .play-btn {
    width: 18px;
    height: 18px;
    background-color: #fc6e50;
    float: left;
    border-radius: 9px;
    position: relative;
    left: 10px;
    top: 7px; }
    .online-helpers .play-btn .fa-pause {
      color: #fff;
      font-size: 9px;
      position: relative;
      left: 5px;
      top: -2px; }
  .online-helpers .sm-message-widget {
    background-color: #fff;
    overflow: hidden; }
    .online-helpers .sm-message-widget header {
      padding-top: 40px;
      padding-left: 40px;
      margin-bottom: 20px; }
      .online-helpers .sm-message-widget header .icon {
        float: left;
        margin-right: 10px; }
      .online-helpers .sm-message-widget header .title {
        font-size: 20px; }
    .online-helpers .sm-message-widget input {
      margin-left: 40px;
      background-color: #F4F7F9;
      padding-left: 18px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 280px;
      height: 52px; }
      .online-helpers .sm-message-widget input::-webkit-input-placeholder {
        text-transform: capitalize; }
  .online-helpers footer {
    margin-top: 28px; }
    .online-helpers footer .close-btn,
    .online-helpers footer .send-btn {
      width: 50%;
      float: left;
      text-align: center;
      height: 53px;
      border-top: 1px solid #ddd;
      text-transform: capitalize;
      line-height: 52px; }
    .online-helpers footer .close-btn {
      border-right: 1px solid #ddd; }

.clear {
  clear: both; }

.message-widget {
  background-color: #fff; }
  .message-widget .messages {
    list-style: none;
    padding: 0;
    margin: 0; }

body {
  font-family: "Maven Pro", sans-serif; }
  body.login-section {
    background-color: #642096; }

input {
  border: none; }

.remember-me {
  position: relative;
  margin-top: 20px; }
  .remember-me input[type="checkbox"] {
    display: none; }
    .remember-me input[type="checkbox"] + .label-text {
      display: inline-block; }
      .remember-me input[type="checkbox"] + .label-text:before {
        content: url(../img/remember-me-unchecked.png);
        width: 23px;
        height: 23px; }
    .remember-me input[type="checkbox"]:checked + .label-text:before {
      content: url(../img/remember-me-checked.png); }
  .remember-me .text {
    position: absolute;
    top: 0px;
    font-size: 14px;
    line-height: 23px;
    display: inline-block;
    margin-left: 10px;
    text-transform: capitalize; }
