@import "_vars";

.clear { clear: both; }
.online-helpers {
    background-color: #F3F6F8;
    padding-top: 50px;
    
    .message-widget {
        padding: 20px;
        height: 230px;
        .messages {
            .message {
                position: relative;

                display: inline-block;
                width: 100%;
                .avatar {
                    float: left;
                }

               &.second {
                   top: 30px;
               }

                .assistant-msg {
                    float: left;
                    background-color: #4DA1FF;
                    color: $light-bg-color;
                    padding: 15px 24px;
                    font-size: 16px;
                    margin-left: 20px;
                    position: relative;

                    &:before {
                        content: "";

                        width: 10px;
                        height: 10px;
                        background-color: #4DA1FF;
                        z-index: 100;
                        position: absolute;
                        top: 10px;
                        left: -5px;
                        transform: rotate(45deg);
                    }
                }

                .message-time {
                    position: absolute;

                    &.right {
                        float: right;
                        right: 0;
                        top: 80px;
                    }
                    &.left {
                        float: left;
                        margin-left: 40px;
                        margin-top: 10px;
                    }
                }

                .msg-text {
                    float: right;
                    line-height: 27px;
                    margin-right: 20px;
                }

                .happy { float: right; }
            }
        }
    }

    .audio-player {
        width: 100%;
        height: 30px;
        border: 1px solid darken(#E9EFF4, 5%);
        position: relative;
        top: 50px;

        .audio-progress {
            width: 234px;
            margin-left: 50px;
            margin-top: 12px;
            height: 5px;
            background-color: #E9EFF4;

            .played {
                width: 51px;
                height: 5px;
                background-color: #fc6e50;

            }
            .scrubber {
                width: 18px;
                height: 18px;
                background-color: $light-bg-color;
                border: 1px solid #CBCBCB;
                border-radius: 100%;
                margin-top: -12px;
                margin-left: 50px;

                .inner {
                    width: 8px;
                    height: 8px;
                    background-color: #fc6e50;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 4px;
                }
            }
        }
    }

    .play-btn {
        width: 18px;
        height: 18px;
        background-color: #fc6e50;
        float: left;
        border-radius: 9px;
        position: relative;
        left: 10px;
        top: 7px;

        .fa-pause {
            color: #fff;
            font-size: 9px;
            position: relative;
            left: 5px;
            top: -2px;
        }
    }

    .sm-message-widget {
        background-color: $light-bg-color;
        overflow: hidden;

        header {
            padding: {
                top: 40px;
                left: 40px;
            }

            margin-bottom: 20px;

            .icon {
                float: left;
                margin-right: 10px;
            }

            .title {
                font-size: 20px;
            }
        }

        input {
            margin-left: 40px;
            background-color: #F4F7F9;
            padding-left: 18px;
            box-sizing: border-box;
            width: 280px;
            height: 52px;

            &::-webkit-input-placeholder {
                text-transform: capitalize;

            }
        }
    }

    footer {
        margin-top: 28px;
        .close-btn,
        .send-btn {
            width: 50%;
            float: left;
            text-align: center;
            height: 53px;
            border-top: 1px solid #ddd;
            text-transform: capitalize;
            line-height: 52px;
        }

        .close-btn {
            border-right: 1px solid #ddd;
        }
    }
}

.clear {
    clear: both;
}

.message-widget {
    background-color: $light-bg-color;

    .messages {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
